

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      background-color: black;
            background-image: url("squairy_light.png");
      background-repeat: repeat-x repeat-y repeat;
    }


html, body { height: 100% }
.proper-content {
    padding-top: 11px; /* navbar height */
    padding:11px;

}



    .container {
        width: 100%;
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; 
        -webkit-border-radius: 10px 10px 10px 10px;
           -moz-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      .welcome
      {
      	
	      -webkit-transition-property:  left, opacity;
	      -webkit-transition-timing-function: ease;
	      -webkit-transition-duration:  0.5s;
	      -moz-transition-property:  left, opacity;
	      -moz-transition-timing-function: ease;
	      -moz-transition-duration:  0.5s;
	      -o-transition-property:  left, opacity;
	      -o-transition-duration:  0.5s;
	      -o-transition-timing-function: ease;
	      transition-property:  left, opacity;
	      transition-duration:  0.5s;
	      transition-timing-function: ease;
	       opacity: 1;
	       position: relative;
	       left:0px;
      }
      
      .panel-goable {
	      -webkit-transition-property:  left, opacity;
	      -webkit-transition-timing-function: ease;
	      -webkit-transition-duration:  0.5s;
	      -moz-transition-property:  left, opacity;
	      -moz-transition-timing-function: ease;
	      -moz-transition-duration:  0.5s;
	      -o-transition-property:  left, opacity;
	      -o-transition-duration:  0.5s;
	      -o-transition-timing-function: ease;
	      transition-property:  left, opacity;
	      transition-duration:  0.5s;
	      transition-timing-function: ease;
	      position: relative;
	       left:0px;
	       width:760px;
	      display: block;
	      
      }
      .pendal {
	      position:absolute;
	      top: 60px;
      }
      .hero-unit {
	       box-shadow: 1px 1px 6px 1px black;
      }
      .progress-label {
	      -webkit-transition-property:  left, opacity;
	      -webkit-transition-timing-function: ease;
	      -webkit-transition-duration:  0.3s;
	      -moz-transition-property:  left, opacity;
	      -moz-transition-timing-function: ease;
	      -moz-transition-duration:  0.3s;
	      -o-transition-property:  left, opacity;
	      -o-transition-duration:  0.3s;
	      -o-transition-timing-function: ease;
	      transition-property:  left, opacity;
	      transition-duration:  0.3s;
	      transition-timing-function: ease;
	      position: relative;
	      font-weight: bold;
	      font-family: sans-serif;
	      
      }
       .info-overlay
      {
      	
	      -webkit-transition-property:   opacity, top;
	      -webkit-transition-timing-function: ease;
	      -webkit-transition-duration:  0.5s;
	      -moz-transition-property:   opacity, top;
	      -moz-transition-timing-function: ease;
	      -moz-transition-duration:  0.5s;
	      -o-transition-property:   opacity, top;
	      -o-transition-duration:  0.5s;
	      -o-transition-timing-function: ease;
	      transition-property:   opacity, top;
	      transition-duration:  0.5s;
	      transition-timing-function: ease;
	       opacity: 0;
	       top: -50px;
      }
      .infotext {
	      text-align: center;
	      width: 100%;
	      color: white !important;
	      text-decoration: none;
      }
      .extrainfo {
	      text-align: center;
	      width: 400px;
	      color: white !important;
	      text-decoration: none;
      }
    
/* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
      border-radius: 0px;
    }


    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      position:relative;
      left:0px;
      	-webkit-transition:  left 10s;
	    -webkit-transition-timing-function: linear;
	    -moz-transition: left 10s;
	    -moz-transition-timing-function:linear;
	    -o-transition-delay: left 10s;
	    -o-transition-timing-function: linear;
	   		transition-property: left 10s;
	   		transition-timing-function: linear;
   /*   	text-shadow: 0 -1px 0 rgba(0,0,0,.5); */
    }
    
    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

